<input ng-if="pe.id" ng-model="pe.id" type="hidden">
<div class="formbody">
    <div class="formtitle"><span>填写私募信息</span></div>
    <ul class="forminfo">
        <li>
            <label>私募类型</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.PE_TYPE"><input name="pe_type" type="radio" value="{{k}}" ng-model="pe.type">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>主标题</label>
            <input type="text" class="dfinput" ng-model="pe.mainTitle" placeholder="请输入主标题名称">
        </li>
        <li>
            <label>副标题</label>
            <input type="text" class="dfinput" ng-model="pe.secondTitle" placeholder="请输入副标题名称">
        </li>
        <li>
            <label>投资最小金额</label>
            <input type="text" class="dfinput" ng-model="pe.minInvest" placeholder="请输入金额数目，必须为数字">&nbsp;元
        </li>
        <li>
            <label>募集总额</label>
            <input type="text" class="dfinput" ng-model="pe.totalAmount" placeholder="请输入募集总额，必须为数字">&nbsp;元
        </li>
        <li>
            <label>收益类型</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.INCOME_TYPE"><input name="income_type" type="radio" value="{{k}}" ng-model="pe.incomeType">{{v}}</span>
            </cite>
        </li>
        <li ng-show="pe.incomeType == 0">
            <label>私募图片</label>
            <cite>
                <input type="file"><br>
                <div>
                    <img src="{{pe.image}}"/>
                </div>
            </cite>
        </li>
        <span ng-show="pe.incomeType == 1">
            <li>
                <label>100万的收益率</label>
                <input type="text" class="dfinput" ng-model="pe.stableIncomeDetail.rate100" placeholder="请输入收益比率">&nbsp;%
                <i class="txt-impt">必须为数字</i>
            </li>
            <li>
                <label>300万的收益率</label>
                <input type="text" class="dfinput" ng-model="pe.stableIncomeDetail.rate300" placeholder="请输入收益比率">&nbsp;%
                <i class="txt-impt">必须为数字</i>
            </li>
            <li>
                <label>&gt;=1000万收益率</label>
                <input type="text" class="dfinput" ng-model="pe.stableIncomeDetail.rate300" placeholder="请输入收益比率">&nbsp;%
                <i class="txt-impt">必须为数字</i>
            </li>
        </span>
        <li>
            <label>管理机构</label>
            <input type="text" class="dfinput" ng-model="pe.manageAgency" placeholder="请输入机构名称">
            <i class="txt-impt">管理机构名称</i>
        </li>
        <li>
            <label>投资期限</label>
            <input type="text" class="dfinput" ng-model="pe.investPeriod" placeholder="请输入投资期限年">&nbsp;年
        </li>
        <li>
            <label>投资期限描述</label>
            <input type="text" class="dfinput" ng-model="pe.investPeriodDesc" placeholder="请输入投资期限描述">
            <i class="txt-impt">投资期限描述，如：5+3+1+1</i>
        </li>
        <li>
            <label>首期款金额</label>
            <input type="text" class="dfinput" ng-model="pe.downpayment" placeholder="请输入首期款金额">
        </li>
        <li>
            <label>管理费</label>
            <input type="text" class="dfinput" ng-model="pe.managementCost" placeholder="请输入管理费">
        </li>
        <li>
            <label>已预约资金总额</label>
            <input type="text" class="dfinput" ng-model="pe.orderedAmount" placeholder="请输入已预约资金总额">
        </li>
        <li>
            <label>预约人数总额</label>
            <input type="text" class="dfinput" ng-model="pe.orderedPersonCount" placeholder="请输入预约人数总额">
        </li>
        <li>
            <label>预计签约日期</label>
            <input type="text" class="dfinput" ng-model="pe.expectSignTime" date-converter placeholder="选择预计签约日期" date-time view="date">
        </li>
        <li>
            <label>签约起点日期</label>
            <input type="text" class="dfinput" ng-model="pe.signStartTime" date-converter placeholder="请输入签约日期起点" date-time view="date">
        </li>
        <li>
            <label>签约终点日期</label>
            <input type="text" class="dfinput" ng-model="pe.signEndTime" date-converter placeholder="请输入签约日期终点" date-time view="date">
        </li>
        <li>
            <label>预约起点时间</label>
            <input type="text" class="dfinput" ng-model="pe.orderStartTime" date-converter placeholder="请输入预约日期起点" date-time view="date">
        </li>
        <li>
            <label>预约终点时间</label>
            <input type="text" class="dfinput" ng-model="pe.orderEndTime" date-converter placeholder="请输入预约时间终点" date-time view="date">
        </li>
        <li>
            <label>公司点评</label>
            <input type="text" class="dfinput" ng-model="pe.companyComment" placeholder="请输入公司点评">
        </li>
        <li>
            <label>产品简称</label>
            <input type="text" class="dfinput" ng-model="pe.productShortName" placeholder="请输入产品简称">
        </li>
        <li>
            <label>产品代码</label>
            <input type="text" class="dfinput" ng-model="pe.productCode" placeholder="请输入产品代码">
        </li>
        <li>
            <label>最低增加投资</label>
            <input type="text" class="dfinput" ng-model="pe.minIncreaseInvest" placeholder="请输入最低增加投资">
        </li>
        <li>
            <label>资金用途</label>
            <input type="text" class="dfinput" ng-model="pe.fundPurpose" placeholder="请输入资金用途">
        </li>
        <li>
            <label>还款来源</label>
            <input type="text" class="dfinput" ng-model="pe.repaymentWay" placeholder="请输入还款来源">
        </li>
        <li>
            <label>联系人手机号</label>
            <input type="text" class="dfinput" ng-model="pe.contactPhone" placeholder="请输入联系人手机号">
        </li>
        <li>
            <label>风险提示</label>
            <textarea type="text" class="dfinput" ng-model="pe.riskDesc"></textarea>
       </li>
        <li>
            <label>基金年报</label>
            <textarea type="text" class="dfinput" ng-model="pe.fundAnnual"></textarea>
        </li>
        <li>
            <label>更多详情</label>
            <textarea type="text" class="dfinput" ng-model="pe.moreDetail"></textarea>
        </li>
        <li>
            <label>基金期限</label>
            <textarea type="text" class="dfinput" ng-model="pe.foundPeriod"></textarea>
        </li>
        <li>
            <label>投资回报率</label>
            <textarea type="text" class="dfinput" ng-model="pe.returnRate"></textarea>
        </li>
        <li>
            <label>币种</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.CURRENCY"><input type="radio" value="{{k}}" ng-model="pe.currency">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>募集方式</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.COLLECT_TYPE"><input type="radio" value="{{k}}" ng-model="pe.collectType">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>产品类型</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.PRODUCT_TYPE"><input type="radio" value="{{k}}" ng-model="pe.productType">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>风险等级</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.RISK_LEVEL"><input type="radio" value="{{k}}" ng-model="pe.riskLevel">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>募集状态</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.COLLECT_STATE"><input type="radio" value="{{k}}" ng-model="pe.collectState">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>退出方式</label>
            <cite>
                <span ng-repeat="(k, v) in pe_constants.LEAVE_TYPE"><input type="radio" value="{{k}}" ng-model="pe.leaveType">{{v}}</span>
            </cite>
        </li>
        <li>
            <label>&nbsp;</label>
            <input type="button" value="确认保存" class="btn" ng-if="pe.id > 0" ng-click="updatePe(pe)">
            <input type="button" value="确认保存" class="btn" ng-if="!pe || !pe.id" ng-click="createPe(pe)">
            &nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" ng-click="attr.path=['私募管理', '私募列表'];$state.go('app.pes.list')">返回列表</a>
        </li>
    </ul>
</div>
