<div class="list-wrapper">
    <div class="tools">
        <a href="javascript:void(0)" class="add-btn" ng-click="attr.path=['视频集管理', '添加视频集'];$state.go('app.albums.add');">
            <span></span>添加
        </a>
    </div>
    <table class="list-table">
        <thead>
            <tr>
                <th>视频集ID</th>
                <th>视频集标题</th>
                <th>视频集合集数</th>
                <th>赞人数</th>
                <th>收藏次数</th>
                <th>下载次数</th>
                <th>视频集状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="album in album_page_list.data" ng-class-odd="'odd'">
                <td>{{album.id}}</td>
                <td>{{album.title}}</td>
                <td>{{album.videoCount}}</td>
                <td>{{album.likeCount}}</td>
                <td>{{album.collectCount}}</td>
                <td>{{album.downloadCount}}</td>
                <td>{{album.state}}</td>
                <td>
                    <a href="javascript:void(0);" ng-click="attr.path=['视频集管理', '视频集列表', '视频列表'];$state.go('app.videos.list', {albumId : album.id });">管理视频</a>  |
                    <a href="Javascript:void(0);" ng-click="attr.path=['视频集管理', '编辑视频集'];$state.go('app.albums.detail', {albumId: album.id})">编辑</a> |
                    <a href="javascript:void(0);"> 删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagebar">
        <div class="message">共<i>&nbsp;{{topic_page_list.count}}&nbsp;</i>条记录，当前显示第&nbsp;<i>{{cur_page}}&nbsp;</i>页</div>
        <ul class="pages">
            <li ng-repeat="i in pages" class="page-num {{ cur_page == i && 'current'}}">
                <a href="javascript:void(0);">{{i}}</a>
            </li>
        </ul>
    </div>
</div>
