<div class="formbody">
    <div class="formtitle"><span>填写投资项目</span></div>
    <ul class="forminfo">
        <li>
            <label>选择私募基金</label>
            <select class="select1" ng-model="project.peId">
                <option value="-1" selected="selected">请选择一个私募基金</option>
                <option value="42">嘉诚蓝峰数字营销产业基金</option>
                <option value="49">华盛顿州贝灵汉地产项目简介</option>
                <option value="52">中国高净值人群全球资产管理专业机构 新三板第一股定增说明书</option>
                <option value="53">嘉富诚鲍斯股份定增基金产品 招募说明书</option>
            </select>
        </li>
        <li>
            <label>投资项目名称</label>
            <input type="text" class="dfinput" placeholder="请输入投资项目名称" ng-model="project.name">
            <i class="txt-impt">投资项目名称不能超过30个字符</i></li>
        <li>
            <label>项目投资金额</label>
            <input class="dfinput" type="text" placeholder="请输入项目投资金额" ng-model="project.investAmount">
            <i class="txt-impt">请输入整数金额</i>
        </li>
        <li>
            <label>币种</label>
            <cite>
                <span ng-repeat="(k, v) in CURRENCY">
                    <input name="currency" type="radio" value="{{k}}">{{v}}
                </span>
            </cite>
        </li>
        <li>
            <label>项目简介</label>
            <textarea class="dfinput" ></textarea>
        </li>
        <li>
            <label>&nbsp;</label>
            <input type="submit" value="确认保存" class="btn" id="saveSubmitInfo">
            &nbsp;&nbsp;&nbsp; <u><a href="javascript:history.go(-1)">返回列表</a></u>
        </li>
    </ul>
</div>
