<div class="list-wrapper">
    <div class="tools">
        <a href="javascript:void(0)" class="add-btn" ng-click="attr.path=['投资项目管理', '添加投资项目'];$state.go('app.projects.add')">
            <span></span>添加
        </a>
    </div>
    <table class="list-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>所属基金</th>
                <th>投资项目名称</th>
                <th>项目投资金额</th>
                <th>币种</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in project_page_list.data">
                <td>{{project.id}}</td>
                <td>{{project.peName}}</td>
                <td>{{project.name}}</td>
                <td>{{project.investAmount}}</td>
                <td>{{CURRENCY[project.currency]}}</td>
                <td>{{project.createTime | FormatDate:0:'-':':'}}</td>
                <td>
                    <a href="javascript:void(0)" ng-click="attr.path=['投资项目管理', '编辑投资项目'];$state.go('app.projects.edit', {projectId: 1})">编辑</a>  |
                    <a href="javascript:void(0);">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagebar">
        <div class="message">共<i>&nbsp;{{project_page_list.count}}&nbsp;</i>条记录，当前显示第&nbsp;<i>{{cur_page}}&nbsp;</i>页</div>
        <ul class="pages">
            <li ng-repeat="i in pages" class="page-num {{ cur_page == i && 'current'}}">
                <a href="javascript:void(0);">{{i}}</a>
            </li>
        </ul>
    </div>
</div>
