<input ng-if="video.id" ng-model="video.id" type="hidden">
<div class="formbody">
    <div class="formtitle"><span>填写视频信息</span></div>
    <ul class="forminfo">
        <li>
            <label>视频标题</label>
            <input type="text" class="dfinput required" placeholder="请输入视频的标题" ng-model="video.title">
        </li>
        <li>
            <label>优酷视频嵌入代码</label>
            <textarea class="dfinput required" ng-model="video.htmlCode"></textarea>
        </li>
        <li>
            <label>视频第几集</label>
            <input type="text" class="dfinput required" placeholder="请输入视频第几集" ng-model="video.orderNum">
        </li>
        <li>
            <label>视频简介</label>
            <textarea class="dfinput required" ng-model="video.desc"></textarea>
        </li>
        <li>
            <label>视频图片</label>
            <cite>
                <input type="file">
                <div>
                    <img src="{{video.image}}">
                </div>

            </cite>
        </li>
        <li>
            <label>&nbsp;</label>
            <input ng-if="video && video.id" type="button" value="确认保存" class="btn">
            <input ng-if="!video || !video.id" type=button value="确认保存" class="btn">
            &nbsp;&nbsp;&nbsp; <u><a href="javascript:history.go(-1)">返回列表</a></u>
        </li>
    </ul>
</div>
