<div class="formbody">
        <div class="formtitle"><span>填写个人收益</span></div>
        <ul class="forminfo">
            <li>
                <label>选择收益用户</label>
                <select class="select1" name="p_account_user_id" id="p_account_user_id" style="width: 345px;">
                    <option value="25">aacon</option>
                    <option value="26">gaoshunsheng</option>
                    <option value="27">橘子</option>
                    <option value="28">安成超</option>
                    <option value="29">安新琼</option>
                </select>
            </li>

            <li>
                <label>投资总额</label>
                <input class="dfinput" type="text" name="p_account_invest_total" value="1000000.00" id="p_account_invest_total" placeholder="请输入投资总额">
                <i class="txt-impt">请输入投资总额</i>
            </li>
            <li>
                <label>用户收益总额</label><input name="p_account_income_total" value="51200.00" id="p_account_income_total" type="text" class="dfinput" placeholder="请输入用户收益总额">
                <i class="txt-impt">请输入用户收益总额</i>
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" value="确认保存" class="btn" id="saveSubmitInfo">
                &nbsp;&nbsp;&nbsp; <u><a href="javascript:history.go(-1)">返回列表</a></u>
            </li>
        </ul>
    </div>
