<div class="formbody">
    <div class="formtitle"><span>批量导入用户信息</span></div>
        <ul class="forminfo">
            <li>
                <div class="import">
                    <input type="file"><br><br>
                    <span style="color:red;">注意：仅支持xls格式表格</span>
                </div>
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" value="确认批量导入数据" class="btn" id="saveSubmitInfo">
                &nbsp;&nbsp;&nbsp; <u><a href="/user/index">返回列表</a></u>
            </li>
        </ul>
        <div class="example">
            如图实例模板：<br><br>
            <img src="/static/admin/img/muban4.png" width="600">
        </div>
</div>
